<table>
  <tr>
      <td>Start</td>
      <td>End</td>
      <td>Note</td>
      <td>Mileage</td>
      <td>Project code</td>
  </tr>
  <tr *ngFor="let route of routes">
    <td>{{route.start.name}}<br/>
      {{route.start.address}}
    </td>
    <td>{{route.end.name}}<br/>
      {{route.end.address}}
    </td>
    <td>{{route.note}}</td>
    <td>{{route.mileage}}</td>
    <td>{{route.projectCode}}</td>
  </tr>
  <tr>
    <td>{{editingRoute.start?.name}}<br/>
      {{editingRoute.start?.address}}
    </td>
    <td>{{editingRoute.end?.name}}<br/>
      {{editingRoute.end?.address}}
    </td>
    <td>{{editingRoute.note}}</td>
    <td>{{editingRoute.mileage}}</td>
    <td>{{editingRoute.projectCode}}</td>
  </tr>
</table>
